/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    padding: 10px 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  
  /* Change link color on hover */
  .nav-links a:hover {
    color: #f39c12;
  }
  